@media screen and ( max-width: 480px ) {

.list-feed {
	.item-media {width: 32%;}
	.item-inner {width: 68%; float: left;} 	
	.item-dek {display: none;}
}



.slider-slide {
	.item-inner .item-dek {display: none;}	
	.item-inner .item-title {font-size: 1em;}
}




}