@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(font/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(font/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(font/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(font/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}




.cf:before, .cf:after, .cf:before, .cf:after {content:""; display:table;}
.cf:after, .cf:after {clear:both;}
.cf, .cf {*zoom:1;}
	
	



.imgmax {max-width: 100%; height: auto;}






.img-head {
	float: left; padding-bottom: 1em; background-color: #fff; width: 100%;
	img {float: left; width: 100%; height: auto;}
	}


.navbar {
	font: 300 1em 'Roboto', sans-serif; color: #009688;
	background-color: #fff; border-bottom: 1px solid #b2dfdb;
	a.link {color: #009688;}
	}
	
.navbar, .toolbar {height: 55px;}	

 .logo {width: 40%; height: auto;}
	
.panel-left {
	background-color: #009688; color: #fff;
	.content-block-title {color: #fff;}
	.content-block {color: #fff;}
	a.item-link {color: #009688;}
	}	
	
	
.list-block.media-list	{
	font: 300 1em 'Roboto', sans-serif !important; color: #1e1e1e;
	.post-title {font-size: 1.2em; font-weight: 400; color: #009688;}
	.post-date {font-size: .8em; color: #777 !important;}
	.post-author {font-size: .9em; color: #777 !important;}
	.register-now {font-size: .9em; color: #80cbc4 !important;}
}


.single-post {
	font: 300 1em 'Roboto', sans-serif; color: #1e1e1e;
	.post-title {font-weight: normal; font-size: 1.9em; color: #009688; margin: 0;}
	.post-meta {color: #666; font-size: .9em;}
	.entry-content {
		font-size: 1.2em;
		h2 {color: #4db6ac; margin: 0 0 .5em 0; font-size: 1.3em; }
		img {max-width: 100%; height: auto;}
		}


}

.homepage {background: url('../img/homepage-header.jpg') 0 0 no-repeat !important;}




/* === WORDPRESS POSTS BODY IMAGE ALIGNMENT === */
	img.alignleft, img.alignright, img.aligncenter {margin-bottom: 1.625em;}
	p img, .wp-caption {margin-top: 0.4em;}
	.wp-caption {margin: 0; max-width: 100%; border-bottom: 3px solid #cd195a; background-color: #000;}
	.wp-caption img {display: block; margin: 0; max-width: 100%; height: auto;}
	.wp-caption .wp-caption-text, .gallery-caption {color: #666; font-size: .8em; font-family: 'Lato';}
	.wp-caption .wp-caption-text {margin: 3px 0 15px 0; padding: 0; max-width: 96%;}
	.wp-caption p.wp-caption-text {margin: .6em 2%; font: normal .8em arial, serif;}
	.alignleft {display: inline; float: left; margin-right: 10px !important; border: 1px solid #ccc; padding: 3px; background-color: #fff;  -webkit-box-shadow: 1px 1px  5px #ccc;  box-shadow: 1px 1px 5px #ccc;}
	.alignright {display: inline; float: right;	margin-left: 10px !important; border: 1px solid #ccc; padding: 3px; background-color: #fff;  -webkit-box-shadow: 1px 1px  5px #ccc;  box-shadow: 1px 1px  5px #ccc;}
	.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}
/* === END IMAGE ALIGNMENT === */
