@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(font/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(font/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(font/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(font/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}



/*body.device-unknown {max-width: 800px; margin: 0 auto;} */

.android-back {display: none;}

body.device-unknown {
	.android-back {display: block;}
	#theiFrame {min-height: 600px;}
}
body.device-Android {
	.android-back {display: block;}
	#theiFrame {min-height: 600px;}
}

.cf:before, .cf:after, .cf:before, .cf:after {content:""; display:table;}
.cf:after, .cf:after {clear:both;}
.cf, .cf {*zoom:1;}
	
			
.box, .box *, #formwrap input, .sys-form { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.video-wrap {
		position: relative; /* padding-bottom: 62.5%; */ padding-bottom: 56.25%;
		iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}
	}

.imgmax {max-width: 100%; height: auto;}


.w-head {margin: 0 0 1em 0;}	



.img-head {
	float: left; padding-bottom: 1em; background-color: #fff; width: 100%;
	img {float: left; width: 100%; height: auto;}
	}


.navbar {
	font: 300 1em 'Roboto', sans-serif; color: #009688;
	background-color: #fff; border-bottom: 1px solid #b2dfdb;
	a.link {color: #009688;}
	.center {
		width: 50%;
		img {width: auto; max-height: 45px; margin: 0 auto;}
		span {text-align: center; display: block; width: 100%;}
		}
		.fa-bars {font-size: 1.5em;}
	}
	
.navbar, .toolbar {height: $nav-height;}	

.navbar-through .page-content {padding-top: $nav-height;}
.toolbar-through .page-content {padding-bottom: $nav-height;}
.navbar-fixed .page-content {padding-top: $nav-height;}
.toolbar-fixed .page-content {padding-bottom: $nav-height;}


.content-block.no-bottom-margin {margin-bottom: 0 !important;}
	
.panel-left {
	background-color: #009688; color: #fff; font: 300 1em 'Roboto', sans-serif !important;
	.content-block-title {
		margin: 0;
		img {width: auto; height: 50px; float: right;}
		}

	.content-block {color: #fff; }
	a.item-link {
		color: #009688; font-weight: 400;
		.fa {color: #80cbc4;}
		}
	.list-block {
		margin: 0;
		ul { border: 0;}
	}	
	.sbs-logo img {float: right; width: 50%; height: auto;}	
	.content-block.footer {margin: 1em 0 3em 0;}	
}	
	
	
	
.panel-right {
	color: #fff; font: 300 1em 'Roboto', sans-serif !important; background: #00897b;
	.content-block-title {color: #fff; font-weight: 600; font-size: 1.4em; margin-top: 1.2em;} 
	.content-block {color: #fff;}
	a.item-link {
		color: #00897b; font-weight: 400; font-size: .8em;
		.fa {color: #80cbc4;}
		}
}	


.page {}

	
.list-block.media-list	{
	font: 300 1em 'Roboto', sans-serif !important; color: #1e1e1e;
	.post-title {font-size: 1.2em; font-weight: 400; color: #009688;}
	.post-date {font-size: .8em; color: #777 !important;}
	.post-author {font-size: .9em; color: #777 !important;}
	.register-now {font-size: .9em; color: #80cbc4 !important;}
	
	
	
}

.radius {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

.list-feed {
	font: 300 1em 'Roboto', sans-serif !important; color: #1e1e1e; padding: 2%;
	a {display: block;  color: #1e1e1e;}
	ul {margin: 0; padding: 0; list-style-type: none;}
	li {background-color: #fff; margin: 0 0 2% 0; padding: 1%;  border: 1px solid #d0d1d5; @extend .radius;}
	.item-media {
		width: 30%; float: left; margin: 0;
		img {max-width: 100%; height: auto; float: left;}
		}
	.item-inner {float: left; width: 70%; margin: 0; padding: .5em;} 	
	
	.item-date {font-size: .8em; color: #777 !important;}
	.item-title {font-size: 1.2em; font-weight: 400; color: #009688;}
	.item-dek {font-size: .9em;}
	.register-now {color: $green2; margin-top: .5em; font-weight: bold;}
	.continue {color: $green2;}
}





.single-post {
	font: 300 1em 'Roboto', sans-serif; color: #1e1e1e;
	.post-title {font-weight: normal; font-size: 1.9em; color: #009688; margin: 0;}
	.post-meta {color: #666; font-size: .9em;}
	.entry-content {
		font-size: 1.2em;
		h2 {color: #4db6ac; margin: 0 0 .5em 0; font-size: 1.3em; }
		h3 {color: $blue1; margin: 0 0 .5em 0; font-size: 1.1em; }
		img {max-width: 100%; height: auto;}
		}


}






/* === WORDPRESS POSTS BODY IMAGE ALIGNMENT === */
	img.alignleft, img.alignright, img.aligncenter {margin-bottom: 1.625em;}
	p img, .wp-caption {margin-top: 0.4em;}
	.wp-caption {margin: 0; max-width: 100%; border-bottom: 3px solid #cd195a; background-color: #000;}
	.wp-caption img {display: block; margin: 0; max-width: 100%; height: auto;}
	.wp-caption .wp-caption-text, .gallery-caption {color: #666; font-size: .8em; font-family: 'Lato';}
	.wp-caption .wp-caption-text {margin: 3px 0 15px 0; padding: 0; max-width: 96%;}
	.wp-caption p.wp-caption-text {margin: .6em 2%; font: normal .8em arial, serif;}
	.alignleft {display: inline; float: left; margin-right: 10px !important; border: 1px solid #ccc; padding: 3px; background-color: #fff;  -webkit-box-shadow: 1px 1px  5px #ccc;  box-shadow: 1px 1px 5px #ccc;}
	.alignright {display: inline; float: right;	margin-left: 10px !important; border: 1px solid #ccc; padding: 3px; background-color: #fff;  -webkit-box-shadow: 1px 1px  5px #ccc;  box-shadow: 1px 1px  5px #ccc;}
	.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}
/* === END IMAGE ALIGNMENT === */





.cloud-head {
	font: 300 1em 'Roboto', sans-serif; color: #1e1e1e; text-align: center; margin: 0; background: url('../img/homepage-header.jpg') bottom center no-repeat; padding: 1em; border-bottom: 1px solid #b2dfdb; position: relative;
	h1 {font-weight: 400; font-size: 1.2em; color: #0051a0; margin: 0;} 
	h2 {font-size: 1.6em; color: #4d968b; margin: 0;}
	p {margin: 0;}
	.pad {padding: .5em 1em 1em 1em;}
	img.sbs-logo {height: 50px; width: auto;}
	}
.cloud-head.no-pad {
	padding: 0;
	img {max-width: 100%; height: auto; border-bottom: 1px solid #b2dfdb;}
	}	
	
h4.register-now {font: 400 1.6em 'Roboto', sans-serif; color: #9c27b0; margin: 0; text-transform: uppercase;}	


.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}    


.single-share {
	button {font-size: 1.7em; border: 0; color: #fff; padding: .3em; width: 2.5em; height: 1.7em; margin-right: .8em; float: left; cursor: pointer;}
	button:hover {opacity:0.8; filter:alpha(opacity=80);}
	.facebook {background-color: #3e5b97;}
	.twitter {background-color: #2aa7de;}
	
}

.content-loading {
	text-align: center; font: 400 1.5em 'Roboto', sans-serif; color: #777; padding: 3%;
	i {color: $loader;}
	}
	

.homepage-content-ajax {	background-color: #fff;}	

.slider-container {
	margin: 0 0 .5em 0; font: 400 1em 'Roboto', sans-serif; position: relative; background-color: #fff;
	.slider-head {
		padding: 1%; 
		.slider-label {float: left; width: 50%; font: 400 1.4em 'Roboto', sans-serif; position: relative; color: $green2; text-transform: uppercase;}
		.slider-pagination {position: relative; float: right; width: 50%; margin: 0; bottom: 0; top: 4px; text-align: right;}
		.slider-pagination-active {background: $green1; border-color: $green2;}   
		}
	
	}
.slider-slide {
	background: #fff; box-sizing: border-box; position: relative;
	.item-media {
		width: 100%; float: left;
		img {max-width: 100%; height: auto; float: left;}
		}
	.item-inner {
		width: 100%; margin: 0; padding: .5em; position: absolute; bottom: 0; left: 0; background: $overlaybg; color: #fff;
		.item-date {font-size: .8em; color: #fff;}
		.item-title {font-size: 1.2em; font-weight: 700;}
		.item-dek {font-size: .9em;}	
		} 		
}


.slider-prev, .slider-next {position: absolute; width:44px; top: 50%; margin-top: -22px;   text-align:center; color: #fff; z-index: 9999999999; font-size: 4em; text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);}
.slider-prev {left:0;}
.slider-next {right:0;}


.mylife {
	.item-media {background-color: #e0f2f1;}
	 .slider-slide .item-inner {width: 100%; margin: .5em 0; padding: 0; position: relative; bottom: auto; background: #fff; color: #1e1e1e; float: left; font: 400 1.125em 'Roboto', sans-serif;} 		
	.slider-prev {top: 40%;}
	.slider-next {top: 40%;}
}




.comments {
	border-top: 1px solid #ccc; margin-top: 1em; padding-top: .5em;
	a {color: $green2; background-color: #fff;}
}



.form-message {font-size: 1.5em; border: 1px solid $green1;}


#formwrap {
	margin: 0; font: 400 1em 'Roboto', sans-serif; width: 100%; float: left;
	.form-head {@extend .gradient3; color: #fff; padding: .3em .5em; font-size: 1.5em; margin: 0;}	
}
	

	

	
.button-subnav {font-size: 3em; float: right; color: $blue1;}	



.pat-tease {
	margin-bottom: 1em; background: #88b7d5; @extend .gradient1;
	.pat-img {
		width: 20%; float: left; margin-right: 2%;
		img {max-width: 100%; height: auto; float: left;}
		}
	.pat-text {float: left; width: 78%; padding-top: 1.5em;
		.pat-name {font-size: 1.2em; font-weight: bold; color: #0051a0; margin-bottom: .5em;}
		.pat-title {color: #777; font-weight: normal; font-size: 1em;}
	
	}
	a { color: #4d968b;}
}


.gradient1 {background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.58, #FFFFFF), color-stop(0.96, #B2DFDB));
background-image: -o-linear-gradient(bottom, #FFFFFF 58%, #B2DFDB 96%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 58%, #B2DFDB 96%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 58%, #B2DFDB 96%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 58%, #B2DFDB 96%);
background-image: linear-gradient(to bottom, #FFFFFF 58%, #B2DFDB 96%);}


.gradient2 {background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #006AB1), color-stop(1, #003B88));
background-image: -o-linear-gradient(bottom, #006AB1 0%, #003B88 100%);
background-image: -moz-linear-gradient(bottom, #006AB1 0%, #003B88 100%);
background-image: -webkit-linear-gradient(bottom, #006AB1 0%, #003B88 100%);
background-image: -ms-linear-gradient(bottom, #006AB1 0%, #003B88 100%);
background-image: linear-gradient(to bottom, #006AB1 0%, #003B88 100%);}

.gradient3 {background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4DB6AC), color-stop(1, #009687));
background-image: -o-linear-gradient(bottom, #4DB6AC 0%, #009687 100%);
background-image: -moz-linear-gradient(bottom, #4DB6AC 0%, #009687 100%);
background-image: -webkit-linear-gradient(bottom, #4DB6AC 0%, #009687 100%);
background-image: -ms-linear-gradient(bottom, #4DB6AC 0%, #009687 100%);
background-image: linear-gradient(to bottom, #4DB6AC 0%, #009687 100%);}

#disqus {
	margin: 1em 0;
	a.button-comments {color: #fff; @extend .gradient2; font-weight: 400; border: 1px solid #0054a4;}
}


a.button-faith {color: #fff; @extend .gradient3; font-weight: 400; border: 1px solid $green2; width: 60%; display: block; margin: 1em auto 0 auto;}



.bottom-nav {
	position: absolute; bottom: 0; left: 0; width: 100%; background-color: #00897b; font: 400 1em 'Roboto', sans-serif; border-top: 1px solid #fff; -webkit-box-shadow: 0px -2px 16px 0px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    0px -2px 16px 0px rgba(50, 50, 50, 0.45);
box-shadow:         0px -2px 16px 0px rgba(50, 50, 50, 0.45);
	a {color: #fff; display: block; text-align: right; padding: .8em .5em; width: 75%; float: left;}
	a.left {text-align: left; border-right: 1px solid #fff; width: 25%; background-color: #4db6ac;  text-align: center;}
	
	a.left-faith {text-align: left; border-right: 1px solid #fff; width: 30%; background-color: #4db6ac;  text-align: center;}
	a.middle-faith {text-align: center; border-right: 1px solid #fff; width: 40%; background-color: #006064;  text-align: center;}
	a.right-faith {text-align: right; border-right: 1px solid #fff; width: 30%; background-color: #4db6ac;  text-align: center;}
	}

	
.sys-form-head {display: none;}
#shareyourstory {	
	 
	ul {list-style-type: none; margin: 0; padding: 0;}
	li {margin: 0 0 .6em 0;}
	label {width: 100%;}
	.field, select, textarea {width: 100%; padding: .6em;  border: 1px solid $green2; background-color: #fff; @extend .box;}
	textarea {height: 250px;}
	.sys-terms {display: none; font-size: .7em;}
	.req-fields {float: right; text-align: right;}
	.web-photo {display: none;}
	.app-photo .button {background-color: $green1; color: #fff; display: inline-block; padding: .2em;}
	#smallImage {float: right; width: 60px; height: 60px;}
	#largeImage {float: right;  width: 60px; height: 60px;}
}		



.preloader-indicator-modal {background: rgba(51, 137, 124, 0.8);}