@media screen and ( min-width: 481px ) {


.list-feed {
	.item-inner {padding: .8em;} 
	.item-date {font-size: .9em;}
	.item-title {font-size: 1.6em; font-weight: 300;}
	.item-dek {font-size: 1em;}
	
}



.cloud-head {
	padding: 1em;
	h1 {font-size: 1.2em;} 
	h2 {font-size: 1.8em;}
	p {font-size: 1.1em;}
	img.sbs-logo {height: 35px;}
	}



}